.UC-leaveMsg{
	width: 946px;
	height: 600px;
	background-color: #fff;
	color: #505050;
}
.UC-leaveMsg .header{
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	border-bottom: solid 1px #e0e0e0;
}
.UC-leaveMsg .table{
	width: 944px;
	border: solid 1px #e0e0e0;
	text-align: center;
	font-size: 14px;
	margin-top: 20px;
}
.UC-leaveMsg .tableHead{
	overflow: hidden;
	background: #FAFAFA;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #e0e0e0;
}
.UC-leaveMsg .tr{
	overflow: hidden;
	height: 58px;
	line-height: 58px;
	border-bottom: solid 1px #e0e0e0;
}
.UC-leaveMsg .td{
	width: 188.8px;
	float: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
a{
	text-decoration: none;	
}
.UC-leaveMsg textarea{
	float: left;
	width: 705px;
	height: 104px;
	border: solid 1px #cccccc;
	resize: none;
	margin-left: 35px;
	padding: 5px;
	outline: none;	
}
.UC-leaveMsg .phone{
	margin-top: 10px;
	overflow: hidden;	
}
.UC-leaveMsg .phone input{
	width: 218px;
	height: 30px;
	border: solid 1px #cccccc;
	margin-left: 10px;
	float: left;
}
.UC-leaveMsg .phoneBtn{
	width: 86px;
	height: 32px;
	line-height: 32px;
	float: left;
	margin-left: 20px;
	background: #c21e29;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.UC-leaveMsg .phoneBtn:hover{
	background-color: #e84e40;
	transition: .3s;
}
